<div style="width: 60%;margin-left: 20%;">
  <!-- static markdown -->
  <div markdown class="title">
   # {{obj.title}}
  </div>

  <!-- loaded from remote url -->
  <!-- <div markdown [src]="article.fileUrl"></div> -->
  <div markdown [data]="article.content"></div> 
</div>
<div class="comment-take">
  评论区
</div>
<div class="comment-list" *ngFor="let comment of commentList;">
<div class="comment-title">
  {{comment.createdBy}} · {{comment.creationDate}}
</div>
<div class="comment-content">
  <pre style="background-color:white;max-height:210px;white-space:pre-wrap; word-wrap:break-word;font-size:12px;">
      {{comment.content}}
  </pre>
</div>
</div>
<div class="comment-div">
  <textarea class="comment-text" rows="4" nz-input [(ngModel)]="commentValue"></textarea>
  <div style="margin-left:10%;width:80%;">
    <button class="comment-button" nz-button nzType="primary" (click)="onComment()">发布评论</button>
  </div>
</div>