/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import "../node_modules/prismjs/themes/prism-okaidia.css";

.svg-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-size: contain;
    margin-left: 1%;
}
.svg-icon.svg-quote {
    background-image: url(assets/images/quote.svg);
}

.svg-icon.svg-quote:hover {
    background-image: url(assets/images/quote_hover.svg);
}

.svg-icon.svg-heading1{
    background-image: url(assets/images/heading1.svg);
}

.svg-icon.svg-heading1:hover {
    background-image: url(assets/images/heading1_hover.svg);
}

.svg-icon.svg-heading2{
    background-image: url(assets/images/heading2.svg);
}

.svg-icon.svg-heading2:hover {
    background-image: url(assets/images/heading2_hover.svg);
}

.svg-icon.svg-heading3{
    background-image: url(assets/images/heading3.svg);
}

.svg-icon.svg-heading3:hover {
    background-image: url(assets/images/heading3_hover.svg);
}

.svg-icon.svg-heading4{
    background-image: url(assets/images/heading4.svg);
}

.svg-icon.svg-heading4:hover {
    background-image: url(assets/images/heading4_hover.svg);
}

.svg-icon.svg-heading5{
    background-image: url(assets/images/heading5.svg);
}

.svg-icon.svg-heading5:hover {
    background-image: url(assets/images/heading5_hover.svg);
}

.svg-icon.svg-bold {
    background-image: url(assets/images/bold.svg);
}

.svg-icon.svg-bold:hover {
    background-image: url(assets/images/bold_hover.svg);
}

.svg-icon.svg-italic {
    background-image: url(assets/images/italic.svg);
}

.svg-icon.svg-italic:hover {
    background-image: url(assets/images/italic_hover.svg);
}

.svg-icon.svg-strikethrough {
    background-image: url(assets/images/strikethrough.svg);
}

.svg-icon.svg-strikethrough:hover {
    background-image: url(assets/images/strikethrough_hover.svg);
}

.svg-icon.svg-underline {
    background-image: url(assets/images/underline.svg);
}

.svg-icon.svg-underline:hover {
    background-image: url(assets/images/underline_hover.svg);
}

.svg-icon.svg-image {
    background-image: url(assets/images/image.svg);
}

.svg-icon.svg-image:hover {
    background-image: url(assets/images/image_hover.svg);
}

.svg-icon.svg-code {
    background-image: url(assets/images/code.svg);
}

.svg-icon.svg-code:hover {
    background-image: url(assets/images/code_hover.svg);
}

.svg-icon.svg-hr {
    background-image: url(assets/images/hr.svg);
}

.svg-icon.svg-hr:hover {
    background-image: url(assets/images/hr_hover.svg);
}


.svg-icon.svg-ol {
    background-image: url(assets/images/ol.svg);
}

.svg-icon.svg-ol:hover {
    background-image: url(assets/images/ol_hover.svg);
}

.svg-icon.svg-ul {
    background-image: url(assets/images/ul.svg);
}

.svg-icon.svg-ul:hover {
    background-image: url(assets/images/ul_hover.svg);
}

.svg-icon.svg-unchecked {
    background-image: url(assets/images/unchecked.svg);
}

.svg-icon.svg-unchecked:hover {
    background-image: url(assets/images/unchecked_hover.svg);
}

.svg-icon.svg-checked {
    background-image: url(assets/images/checked.svg);
}

.svg-icon.svg-checked:hover {
    background-image: url(assets/images/checked_hover.svg);
}


.svg-icon.svg-table {
    background-image: url(assets/images/table.svg);
}

.svg-icon.svg-table:hover {
    background-image: url(assets/images/table_hover.svg);
}
