<nz-layout>
    
    <nz-header class="top">
        <div class="logo-div">
            <img routerLink='/home/article' class="logo-img" src="../../../../../assets/images/logo.png" />
        </div>
        <div><input nz-input  class="top-input" placeholder="搜索" [(ngModel)]="searchContent" (keyup.enter)="articlesQuery()"></div>
        <div *ngIf="username" class="create" (click)="createArticle()">写文章</div>
        <!-- <div *ngIf="!username" class="login">登录</div> -->
        <button class="login" *ngIf="!username" nz-button  nzType="primary" (click)="onLogin()">登 录</button>
        <div *ngIf="username" class="user-image-w">
            <nz-dropdown>
                <a nz-dropdown>
                    <img style="width:30px;" src="../../../../../assets/images/user.png">
                </a>
                <ul nz-menu style="margin-top:13px;">
                    <li nz-menu-item routerLink='/home/person/personInfo'>
                        <span><img style="width:18px;" src="../../../../../assets/images/home_user_username.png" /></span>
                        <span style="margin-left:5px;">{{username}}的主页</span>
                    </li>
                   
                    <li nz-menu-item (click)="loginOut()">
                        <span><img style="width:18px;" src="../../../../../assets/images/home_user_logout.png" /></span>
                        <span style="margin-left:5px;">注销</span>
                    </li>
                </ul>
            </nz-dropdown>
        </div>
    </nz-header>
    
    <nz-layout >
        <router-outlet></router-outlet>
    </nz-layout>

</nz-layout>
