<nz-layout>

    <nz-header class="top">
        <div class="logo-div">
            <img routerLink='/home/article' class="logo-img" src="../../../../../assets/images/logo.png" />
        </div>

        <nz-input-group [nzPrefix]="prefixTemplate" class="top-input-group">
            <input nz-input class="top-input" placeholder=" 在纸蜂中搜索" [(ngModel)]="searchContent"
                (keyup.enter)="articlesQuery()">
        </nz-input-group>

        <div *ngIf="username" class="create" (click)="createArticle()">写文章</div>
        <!-- <div *ngIf="!username" class="login">登录</div> -->
        <button class="login" *ngIf="!username" nz-button nzType="primary" (click)="onLogin()">登 录</button>
       
        <div *ngIf="username" class="user-image-w">
            <nz-dropdown>
                <a nz-dropdown>
                    <img style="width:27px;" src="../../../../../assets/images/user.png">
                </a>
                <ul nz-menu style="margin-top:13px;">
                    <li nz-menu-item routerLink='/home/person/personInfo'>
                        <span><img style="width:18px;"
                                src="../../../../../assets/images/home_user_username.png" /></span>
                        <span style="margin-left:5px;">{{username}}的主页</span>
                    </li>

                    <li nz-menu-item (click)="loginOut()">
                        <span><img style="width:18px;" src="../../../../../assets/images/home_user_logout.png" /></span>
                        <span style="margin-left:5px;">注销</span>
                    </li>
                </ul>
            </nz-dropdown>
        </div>


        <nz-badge *ngIf="username" [nzCount]="count"
            style="float: right;margin-top: 1.6%;margin-right: 11%;font-size: 20px;cursor: pointer;">
            <i nz-popover [nzContent]="contentTemplate" class="anticon anticon-bell" nzPlacement="bottom"
                nzTrigger="click" (click)="getTotalMessage()"></i>
        </nz-badge>

    </nz-header>

    <nz-layout>
        <router-outlet></router-outlet>
    </nz-layout>

    <ng-template #prefixTemplate>
        <i nz-icon type="search"></i>
    </ng-template>

    <ng-template #contentTemplate>
        <div style="height: 450px;overflow: auto;">
            <nz-tabset (nzSelectChange)="tagChange($event)" [nzSelectedIndex]="index">
                <!-- <nz-spin nzTip="加载中..." [nzSpinning]="isSpinning"> -->
                <nz-tab [nzTitle]="notice">
                    <div class="bell" *ngFor="let data of noticeData; let  i = index;"
                        [ngStyle]="{'margin-bottom' : noticeData.length == i + 1 && noticeData.length > 4 ? '48px' : '','opacity' : data.status == 'read' ? '.4' : ''}"
                        (click)="isCheck(i,data)">
                        <div class="bell-img">
                            <img style="width: 32px;height:32px" [src]="img" />
                        </div>
                        <div style="display: inline-block">
                            <h4 class="bell-title">
                                <div class="bell-title-div">
                                    <span>{{data.sender}} {{data.articleTitle}}</span>
                                </div>
                            </h4>
                            <div class="bell-content">
                                <span>{{data.content}}</span>
                            </div>
                            <div>
                                <span class="bell-time">{{data.creationDate}}</span>
                                <div class="detail-div">
                                    <nz-tag [nzColor]="'green'" (click)="openDetail(data.linkUrl)">查看详情</nz-tag>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class="empty-div" style="background: #fff;">
                        <img class="empty-img" style="background: #fff;" src="../../../../../assets/images/empty.svg" />
                        <div class="empty-span" style="background: #fff;">你已查看所有{{tagIndexTitle}}</div>
                    </div>
                </nz-tab>
                <nz-tab [nzTitle]="message">
                    <div class="bell" *ngFor="let data of messageData; let  i = index;"
                        [ngStyle]="{'margin-bottom' : messageData.length == i + 1 && messageData.length > 4 ? '48px' : '','opacity' : data.status == 'read' ? '.4' : ''}"
                        (click)="isCheck(i,data)">
                        <div class="bell-img">
                            <img style="width: 32px;height:32px" [src]="img" />
                        </div>
                        <div style="display: inline-block">
                            <h4 class="bell-title">
                                <div class="bell-title-div">
                                    <span>{{data.sender}} 《{{data.articleTitle}}》</span>
                                </div>
                            </h4>
                            <div class="bell-content">
                                <span>{{data.content}}</span>
                            </div>
                            <div>
                                <span class="bell-time">{{data.creationDate}}</span>
                                <div class="detail-div">
                                    <nz-tag [nzColor]="'green'" (click)="openDetail(data.linkUrl)">查看详情</nz-tag>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="dataType.length == 0" class="empty-div" style="background: #fff;">
                        <img class="empty-img" style="background: #fff;" src="../../../../../assets/images/empty.svg" />
                        <div class="empty-span" style="background: #fff;">你已读完所有{{tagIndexTitle}}</div>
                    </div>
                </nz-tab>
                <nz-tab [nzTitle]="todo">
                    <div class="bell" *ngFor="let data of todoData; let  i = index;"
                        [ngStyle]="{'margin-bottom' : todoData.length == i + 1 && todoData.length > 4 ? '48px' : '','opacity' : data.status == 'read' ? '.4' : ''}"
                        (click)="isCheck(i,data)">
                        <div class="bell-img">
                            <img style="width: 32px;height:32px" [src]="img" />
                        </div>
                        <div style="display: inline-block">
                            <h4 class="bell-title">
                                <div class="bell-title-div">
                                    <span>{{data.sender}} 《{{data.articleTitle}}》</span>
                                </div>
                            </h4>
                            <div class="bell-content">
                                <span>{{data.content}}</span>
                            </div>
                            <div>
                                <span class="bell-time">{{data.creationDate}}</span>
                                <div class="detail-div">
                                    <nz-tag [nzColor]="'green'" (click)="openDetail(data.linkUrl)">查看详情</nz-tag>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="empty-div" style="background: #fff;">
                        <img class="empty-img" style="background: #fff;" src="../../../../../assets/images/empty.svg" />
                        <div class="empty-span" style="background: #fff;">你已完成所有{{tagIndexTitle}}</div>
                    </div>
                </nz-tab>
                <!-- </nz-spin> -->
            </nz-tabset>

            <div class="tag-bottom" *ngIf="dataType.length > 0">
                <div class="clear-left" (click)="clearAll()">
                    <div class="clear-span">清空 {{tagIndexTitle}}</div>
                </div>
                <div class="clear-right">
                    <div class="clear-span">查看更多</div>
                </div>
            </div>
        </div>
    </ng-template>
</nz-layout>