.title{
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 10px;
    font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
    border-bottom: inset;
    border-width: thin;
}


 ::ng-deep pre{
    max-height: 480px;
}


::ng-deep img{
    max-width: 100%;
}

.comment-take{
    border-bottom: 0.5px solid #d8d4d4;
    font-weight: 600;
    font-size: 21px;
    line-height: 60px;
    color: #000000cf;
    margin: 50px 0 00px 5%;
    width: 90%;
}

.comment-div{
    width: 90%;
    height: 200px;
    margin-left: 5%;
    margin-bottom: 70px;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.09);
    border-radius: 2px 2px 0px 0px;
}

.comment-list{
    width: 90%;
    margin-left: 5%;
    border-bottom: 0.5px solid #d8d4d4;
    max-height: 250px;
    min-height: 110px;
}
.comment-title{
    height: 30px;
    margin-top: 5px;
    color: rgba(0,0,0,.65);
    font-size: 12px;
    font-weight: 600;
    font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
}

.comment-content{
    margin-left: 1%;
    width: 99%;
    max-height: 210px;
    min-height: 80px;
}

.comment-text{
    margin-top: 20px;
    width: 90%;
    margin-left: 2%;
}

.comment-button{
    float: right;
    margin-top: 20px;
}

.share{
    margin-left: 10%;
    margin-bottom: 100px;
}

.share-item{
    float: left;
    margin-right: 10px;
    margin-bottom: 100px;
}

.share-item:hover{
    cursor: pointer;
}


.logo-div{
    border-width: 0px;
    position: absolute;
    left: 5.5%;
    top: 5px;
    width: 178px;
    cursor: pointer;
}

.logo-img{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 110px;
    outline: none;
}


markdown ::ng-deep blockquote{
    padding: 0 1em;
    color: rgba(0,0,0,0.535);
    border-left: 0.25em solid rgba(0,0,0,0.11);
}

markdown ::ng-deep table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 16px;
}

markdown ::ng-deep table td{
    padding: 6px 13px;
    border: 1px solid #ddd;
}

markdown ::ng-deep table th{
    padding: 6px 13px;
    border: 1px solid #ddd;
}

markdown ::ng-deep ul {
    list-style-type: inherit;
    padding-left: 40px !important;
}

markdown ::ng-deep li {
    list-style-type: inherit;
}

markdown ::ng-deep ol ul {
    list-style-type: circle;
} 
