<nz-layout>
    <nz-header class="top">
        <div class="logo-div">
            <img class="logo-img" src="../../../../../assets/images/logo.png" />
        </div>
        <div class="top-item"><a class="top-span" routerLink='/home/article'>文章</a></div>
        <div class="top-item2"><span class="top-span2">文档库</span></div>
        <div><input  class="top-input" placeholder="搜索标题或关键字" [(ngModel)]="searchContent" (keyup.enter)="articlesQuery()"></div>
        <div class="create" (click)="createArticle()">写文章</div>
        <!-- <button nz-button style="border-color:#ccc9c9;color: #656262;" nz-popover nzTrigger="click" 
            nzPlacement="bottomLeft" class="create">创建<i nz-icon type="caret-down" theme="outline"></i></button> -->
        <div class="user-image-w">
            <nz-dropdown>
                <a nz-dropdown>
                    <img style="width:30px;" src="../../../../../assets/images/user.png">
                </a>
                <ul nz-menu>
                    <li nz-menu-item routerLink='/home/person/personInfo'>
                        <span><img style="width:18px;" src="../../../../../assets/images/home_user_username.png" /></span>
                        <span style="margin-left:5px;">{{username}}的主页</span>
                    </li>
                   
                    <li nz-menu-item routerLink="/login">
                        <span><img style="width:18px;" src="../../../../../assets/images/home_user_logout.png" /></span>
                        <span style="margin-left:5px;">注销</span>
                    </li>
                </ul>
            </nz-dropdown>
        </div>
    </nz-header>
    <nz-layout >
        <router-outlet></router-outlet>
    </nz-layout>

</nz-layout>



<!-- <ng-template #createTemplate>
    <div class="div-back" (click)="createArticle()">
        <span class="create-draft">写文章</span>
    </div>
</ng-template> -->

<!-- <ng-template #createTemplate1>
    <div class="div-back">
        <span class="create-draft" >草稿箱</span>
    </div>
</ng-template> -->