<div class="middle">
  <div>
    <h2 class="title">我的草稿</h2>
  </div>
  <div class="content-div1">
    <div class="content" *ngFor="let data of articles; let  i = index;" [ngStyle]="{'margin-bottom' : i + 1  == articles.length ? '3%' : ''}">
      <div class="content-div" (click)="detail(data)">
        <!-- <span class="content-number">{{data.articleViews}}</span> -->
        <span class="content-title">{{data.title}}</span>
      </div>
      <div class="process">
        <a nz-popconfirm nzTitle="你确定要删除该文章吗?" (nzOnConfirm)="onDeleteConfirm()" (nzOnCancel)="onDeleteCancel()">
          <button style="color:#313030;border-color:white;" nz-button nzType="primary" [nzGhost]=true><i nz-icon type="delete"
              theme="outline"></i>删除</button>
        </a>
        <a nz-popconfirm nzTitle="你确定要通过该文章吗?" (nzOnConfirm)="onApproveConfirm()" (nzOnCancel)="onApproveCancel()">
          <button style="margin-right:20px;border-color:white;" [nzGhost]=true nz-button nzType="primary"><i nz-icon
              type="check" theme="outline"></i>通过</button>
        </a>
        <a nz-popconfirm nzTitle="你确定要驳回该文章吗?" (nzOnConfirm)="onRejectConfirm()" (nzOnCancel)="onRejectCancel()">
          <button style="color:#f35454;border-color:white;" nz-button nzType="primary" [nzGhost]=true><i nz-icon type="close"
              theme="outline"></i>驳回</button>
        </a>
      </div>
      <div class="more-div">
        <button nz-button class="more" (click)="getMore()" *ngIf="!isMore && isMore1">点击载入更多</button>
        <button nz-button nzLoading class="more" *ngIf="isMore && isMore1">加载中</button>
      </div>
    </div>
  </div>